name: Android CI

on:
  workflow_dispatch:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.idea/**'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - '.idea/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
    - uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Build Release APK
      run: ./gradlew assembleRelease --no-daemon

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
      env:
        BUILD_TOOLS_VERSION: "35.0.0"

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release-signed
        path: ${{ steps.sign_app.outputs.signedReleaseFile }}
